{{!< portal}}

{{#contentFor 'styles'}}
<link rel="stylesheet" href="/assets/css/page-cart.css">
{{/contentFor}}

<div class="py-container">
  <div class="allgoods">
    <h4>全部商品</h4>
    <div class="cart-main">
      <div class="yui3-g cart-th">
        <div class="yui3-u-1-2">商品</div>
        <div class="yui3-u-1-8">单价（元）</div>
        <div class="yui3-u-1-8">数量</div>
        <div class="yui3-u-1-8">小计（元）</div>
        <div class="yui3-u-1-8">操作</div>
      </div>
      <div class="cart-item-list">
        <div class="cart-body">
          <div class="cart-list">
            {{#each products}}
            <ul class="goods-list yui3-g">
              <li class="yui3-u-3-8">
                <div class="good-item">
                  <div class="item-img">
                    <img src="{{thumbnail}}">
                  </div>
                  <div class="item-msg">{{name}}</div>
                </div>
              </li>
              <li class="yui3-u-1-8">
                <span>颜色: 银色</span><br>
                <span>处理器: Core I5</span><br>
                <span>内存: 8GB</span><br>
                <span>尺寸: 13.3英寸</span><br>
              </li>
              <li class="yui3-u-1-8">
                <span class="price">￥{{price}}</span>
              </li>
              <li class="yui3-u-1-8">
                <a href="#" class="increment mins">-</a>
                <input type="text" class="itxt" value="{{amount}}" minnum="1" autocomplete="off">
                <a href="#" class="increment plus">+</a>
              </li>
              <li class="yui3-u-1-8">
                <span class="sum">￥{{format total}}</span>
              </li>
              <li class="yui3-u-1-8">
                <a href="#none">删除</a>
              </li>
            </ul>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <div class="cart-tool">
      <div class="money-box">
        <div class="sumprice">
          <span><strong>{{totalAmount}}</strong> 件商品</span><br>
          <span><em>总价（不含运费）：</em><i class="summoney">￥{{format totalPrice}}</i></span>
        </div>
        <div class="sumbtn">
          <a class="sum-btn" href="/checkout">结算</a>
        </div>
      </div>
    </div>
  </div>
</div>
