{{!< portal}}

{{#contentFor 'styles'}}
<link rel="stylesheet" href="/assets/css/page-item.css">
<link rel="stylesheet" href="/assets/css/xzoom.css">
{{/contentFor}}

<div class="main">
  <div class="py-container">
    <div class="crumb-wrap">
      <ul class="sui-breadcrumb">
        {{#product.category}}
        <li><a href="/list/{{parent.parent.id}}">{{parent.parent.name}}</a></li>
        <li><a href="/list/{{parent.id}}">{{parent.name}}</a></li>
        <li><a href="/list/{{id}}">{{name}}</a></li>
        {{/product.category}}
        <li class="active">{{product.name}}</li>
      </ul>
    </div>
    <!--product-info-->
    <div class="product-info">
      <div class="fl preview-wrap">
        <!--放大镜效果-->
        <div class="zoom">
          <!--默认第一个预览-->
          <div id="preview" class="spec-preview">
            <img class="xzoom" xoriginal="{{product.pictures.0.large}}" src="{{product.pictures.0.middle}}" width="100%">
          </div>
          <!--下方的缩略图-->
          <div class="spec-scroll">
            {{#each product.pictures}}
            <a href="{{large}}"><img class="xzoom-gallery" src="{{middle}}" width="60"></a>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="fr itemInfo-wrap">
        <div class="sku-name">
          <h4>{{product.name}}</h4>
        </div>
        <div class="summary">
          <div class="summary-wrap">
            <div class="fl title"><i>价　　格</i></div>
            <div class="fl price"><i>￥</i><em>{{product.price}}</em></div>
            <div class="fr remark"><i>累计销量</i><em>{{product.sales}}</em></div>
          </div>
        </div>
        <div class="support">
          <div class="summary-wrap">
            <div class="fl title"><i>支　　持</i></div>
            <div class="fl fix-width"><em class="t-gray">以旧换新，闲置手机回收 4G套餐超值抢 礼品购</em></div>
          </div>
        </div>
        <div class="clearfix choose">
          <div id="specification" class="summary-wrap clearfix">
            <dl>
              <dt class="fl title"><i>选择颜色</i></dt>
              <dd>
                <a href="#" class="selected">金色</a>
                <a href="#">银色</a>
                <a href="#">黑色</a>
              </dd>
            </dl>
            <dl>
              <dt class="fl title"><i>内存容量</i></dt>
              <dd>
                <a href="#" class="selected">16G</a>
                <a href="#">64G</a>
                <a href="#">128G</a>
              </dd>
            </dl>
          </div>

          <form class="summary-wrap" action="/cart/add">
            <input type="hidden" name="id" value="{{product.id}}">
            <div class="controls">
              <input type="text" name="amount" value="1" max="{{product.amount}}" autocomplete="off" class="itxt">
              <a href="#" class="increment plus">+</a>
              <a href="#" class="increment mins">-</a>
            </div>
            <button class="sui-btn btn-danger addshopcar">加入购物车</button>
          </form>
        </div>
      </div>
    </div>
    <!--product-detail-->
    <div class="clearfix product-detail">
      <div class="fl aside">
        <ul class="sui-nav nav-tabs tab-wraped">
          <li class="active">
            <a href="#index" data-toggle="tab"><span>相关分类</span></a>
          </li>
          <li>
            <a href="#profile" data-toggle="tab"><span>推荐品牌</span></a>
          </li>
        </ul>
        <div class="tab-content tab-wraped">
          <div id="index" class="tab-pane active">
            <ul class="part-list unstyled">
              {{#each relatedCategory}}
              <li><a href="/list/{{id}}">{{name}}</a></li>
              {{/each}}
            </ul>
            <ul class="goods-list unstyled">
              {{#each relatedProducts}}
              <li>
                <div class="p-img"><img src="{{thumbnail}}"></div>
                <div class="attr"><em>{{name}}</em></div>
                <div class="price"><strong>￥{{price}}</strong></div>
                <div class="operate"><a href="/cart/add?id={{id}}" class="sui-btn btn-bordered" target="_blank">加入购物车</a></div>
              </li>
              {{/each}}
            </ul>
          </div>
          <div id="profile" class="tab-pane">
            <p>推荐品牌</p>
          </div>
        </div>
      </div>
      <div class="fr detail">
        <ul class="sui-nav nav-tabs tab-wraped">
          <li class="active"><a href="#one" data-toggle="tab"><span>商品介绍</span></a></li>
          <li><a href="#two" data-toggle="tab"><span>规格与包装</span></a></li>
          <li><a href="#three" data-toggle="tab"><span>售后保障</span></a></li>
          <li><a href="#four" data-toggle="tab"><span>商品评价</span></a></li>
        </ul>
        <div class="tab-content tab-wraped">
          <div id="one" class="tab-pane active">
            <ul class="goods-intro unstyled">
              <li>分辨率：1920*1080(FHD)</li>
              <li>后置摄像头：1200万像素</li>
              <li>前置摄像头：500万像素</li>
              <li>核 数：其他</li>
              <li>频 率：以官网信息为准</li>
              <li>品牌： Apple</li>
              <li>商品名称：APPLEiPhone 6s Plus</li>
              <li>商品编号：1861098</li>
              <li>商品毛重：0.51kg</li>
              <li>商品产地：中国大陆</li>
              <li>热点：指纹识别，Apple Pay，金属机身，拍照神器</li>
              <li>系统：苹果（IOS）</li>
              <li>像素：1000-1600万</li>
              <li>机身内存：64GB</li>
            </ul>
            <div class="intro-detail">
              {{{product.introduce}}}
            </div>
          </div>
          <div id="two" class="tab-pane">
            <p>规格与包装</p>
          </div>
          <div id="three" class="tab-pane">
            <p>售后保障</p>
          </div>
          <div id="four" class="tab-pane">
            <div class="comment">
              <div class="com-tit">商品评价</div>
              <div class="com-percent">好评率<span class="percent">96%</span></div>
              <div class="com-tab-type">
                <ul class="type">
                  <li class="current"><a href="#">全部评价(123456)</a></li>
                  <li><a href="#">晒图(500)</a></li>
                  <li><a href="#">追评(500)</a></li>
                  <li><a href="#">好评(500)</a></li>
                  <li><a href="#">中评(500)</a></li>
                  <li><a href="#">差评(500)</a></li>
                </ul>
                <div class="content">
                  <div class="com-item">
                    <div class="user-column">
                      <div class="username">
                        <img src="/uploads/avatar.png">用户****1</div>
                      <div class="usernum">品享值258698</div>
                    </div>
                    <div class="user-info">
                      <div class="stars star-4"></div>
                      <p>手机还不错，可以的可以的</p>
                      <div class="guige">
                        <ul class="mini">
                          <li>玫瑰金</li>
                          <li>标配版</li>
                          <li>2017-11-02 13:23</li>
                        </ul>
                        <div class="operate">
                          <span id="collect"><i class="sui-icon icon-tb-like"></i> 325</span>
                          <span id="comment"><i class="sui-icon icon-tb-wang"></i> 256</span>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{#contentFor 'scripts'}}
<script src="/assets/js/sui.tab.js"></script>
<script src="/assets/js/sui.transition.js"></script>
<script src="/assets/js/xzoom.min.js"></script>
<script>
  $(function ($) {
    $('.xzoom, .xzoom-gallery').xzoom({ tint: '#888', Xoffset: 15 })
  })
</script>
{{/contentFor}}
