{{!< portal}}

{{#contentFor 'styles'}}
<link rel="stylesheet" href="/assets/css/page-member.css">
{{/contentFor}}

<div class="py-container">
  <div class="yui3-g home">
    {{> member-sidebar}}
    <!--右侧主内容-->
    <div class="yui3-u-5-6 body">
      <div class="address-detail">
        <div class="addbtn">
          <a class="sui-btn btn-bordered btn-xlarge btn-info" data-toggle="modal" data-target="#add_address" data-keyboard="false">新增收货地址</a>
          <span class="topnum">您已创建 {{addresses.length}} 个收货地址</span>
        </div>
        <div class="addresses">
          {{#each addresses}}
          <div class="address-item">
            <div class="smt">{{name}}<a href="/member/address/delete?id={{id}}" class="pull-right delete">删除</a></div>
            <div class="smc">
              <div class="item">
                <span class="fl label">收货人：</span>
                <div class="detail">{{name}}</div>
              </div>
            </div>
            <div class="smc">
              <div class="item">
                <span class="fl label">地址：</span>
                <div class="detail">{{address}}</div>
              </div>
            </div>
            <div class="smc">
              <div class="item">
                <span class="fl label">手机：</span>
                <div class="detail">{{phone}}</div>
              </div>
            </div>
            <div class="smc">
              <div class="item">
                <span class="fl label">邮编：</span>
                <div class="detail">{{code}}</div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>

        <!--弹层内容-->
        <div id="add_address" class="sui-modal hide fade">
          <div class="modal-dialog">
            <form class="modal-content" action="/member/address" method="post">
              <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="sui-close">×</button>
                <h4 id="myModalLabel" class="modal-title">添加收货地址</h4>
              </div>
              <div class="modal-body">
                <div class="sui-form form-horizontal">
                  <div class="control-group">
                    <label class="control-label">收货人：</label>
                    <div class="controls">
                      <input type="text" name="name" class="input-xfat" required>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">详细地址：</label>
                    <div class="controls">
                      <input type="text" name="address" class="input-xfat input-xlarge" required>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">手机：</label>
                    <div class="controls">
                      <input type="text" name="phone" class="input-xfat" maxlength="11" required>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">邮编：</label>
                    <div class="controls">
                      <input type="text" name="code" class="input-xfat" maxlength="6" required>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="sui-btn btn-primary btn-large">确定</button>
                <button type="button" data-dismiss="modal" class="sui-btn btn-default btn-large">取消</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{#contentFor 'scripts'}}
<script src="/assets/js/sui.modal.js"></script>
<script src="/assets/js/sui.transition.js"></script>
{{/contentFor}}
