{{#block 'styles'}}
<link rel="stylesheet" type="text/css" href="/css/pages-addressList.css" />
{{/block}}

<div id="account">
  <div class="py-container">
    <div class="yui3-g home">
      <!--左侧列表-->
      <div class="yui3-u-1-6 list">
        <dl>
          <dt>
            <i>·</i> 设置</dt>
          <dd>个人信息</dd>
          <dd>账户安全</dd>
          <dd>账号绑定 </dd>
          <dd>我的级别</dd>
          <dd class="active">收货地址</dd>
          <dd>应用授权</dd>
          <dd>快捷支付</dd>
          <dd>企业发票</dd>
          <dd>采购需求单</dd>
        </dl>

      </div>
      <!--右侧主内容-->
      <div class="yui3-u-5-6 body">
        <div class="addressList">
          <div class="mt">
            <span class="fl">
              <strong>我的收货地址</strong>
            </span>
          </div>
        </div>

        <div class="address-detail">
          <div class="addbtn">
            <a data-toggle="modal" data-target=".edit" data-keyboard="false" class="sui-btn btn-bordered btn-xlarge btn-info">新增收货地址</a>
            <span class="topnum">您已创建 {{addresses.length}} 个收货地址</span>
          </div>
          <div class="addresses">
            {{#each addresses}}
            <div class="address-item">
              <div class="smt">
                <span>{{cgn_name}}</span>
                <a href="#" class="pull-right delete">删除</a>
              </div>
              <div class="smc">
                <div class="item">
                  <span class="fl label">收货人：</span>
                  <div class="detail">{{cgn_name}}</div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="smc">
                <div class="item">
                  <span class="fl label">地址：</span>
                  <div class="detail">{{cgn_address}}</div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="smc">
                <div class="item">
                  <span class="fl label">手机：</span>
                  <div class="detail">{{cgn_tel}}</div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="smc">
                <div class="item">
                  <span class="fl label">邮编：</span>
                  <div class="detail">{{cgn_code}}</div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
          <!--弹层内容-->
          <!--添加地址-->
          <div tabindex="-1" role="dialog" data-hasfoot="false" class="sui-modal hide fade edit">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" data-dismiss="modal" aria-hidden="true" class="sui-close">×</button>
                  <h4 class="modal-title">添加收货地址</h4>
                </div>
                <div class="modal-body">
                  <form class="sui-form form-horizontal" method="post">
                    <div class="control-group">
                      <label class="control-label">收货人：</label>
                      <div class="controls">
                        <input type="text" name="cgn_name" class="input-medium">
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">详细地址：</label>
                      <div class="controls">
                        <input type="text" name="cgn_address" class="input-large">
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">联系电话：</label>
                      <div class="controls">
                        <input type="mobile" name="cgn_tel" class="input-medium">
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">邮编：</label>
                      <div class="controls">
                        <input type="number" name="cgn_code" class="input-medium" max="999999">
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label"></label>
                      <div class="controls">
                        <button class="sui-btn btn-primary btn-large">确定</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{#block 'scripts'}}
<script type="text/javascript" src="/js/pages/city-picker.js"></script>
<script type="text/javascript" src="/js/pages/addressList.js"></script>
{{/block}}
