{{#block 'styles'}}
<link rel="stylesheet"  href="/css/pages-seckillOrder.css">
<style>
  .avatar-box input {
    display: none !important;
  }
</style>
{{/block}}

<div id="account">
  <div class="py-container">
    <div class="yui3-g home">
      <!--左侧列表-->
      <div class="yui3-u-1-6 list">
        <div class="person-info">
          <div class="person-photo">
            <img src="/img/_/photo.png" alt="">
          </div>
          <div class="person-account">
            <span class="name">{{currentUser.username}}</span>
            <span class="safe">账户安全</span>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="list-items">
          <dl>
            <dt>
              <i>·</i> 订单中心</dt>
            <dd>
              <a href="seckillOrder.html">我的订单</a>
            </dd>
            <dd>
              <a href="seckillorder-pay.html">待付款</a>
            </dd>
            <dd>
              <a href="seckillorder-send.html">待发货</a>
            </dd>
            <dd>
              <a href="seckillorder-receive.html">待收货</a>
            </dd>
            <dd>
              <a href="seckillorder-evaluate.html">待评价</a>
            </dd>
          </dl>
          <dl>
            <dt>
              <i>·</i> 我的中心</dt>
            <dd>
              <a href="seckillperson-collect.html">我的收藏</a>
            </dd>
            <dd>
              <a href="seckillperson-footmark.html">我的足迹</a>
            </dd>
          </dl>
          <dl>
            <dt>
              <i>·</i> 物流消息</dt>
          </dl>
          <dl>
            <dt>
              <i>·</i> 设置</dt>
            <dd>
              <a href="seckillsetting-info.html" class="list-active">个人信息</a>
            </dd>
            <dd>
              <a href="seckillsetting-address.html">地址管理</a>
            </dd>
            <dd>
              <a href="seckillsetting-safe.html">安全管理</a>
            </dd>
          </dl>
        </div>
      </div>
      <!--右侧主内容-->
      <div class="yui3-u-5-6">
        <div class="body userInfo">
          <form id="form-msg" class="sui-form form-horizontal" action="/member/profile" method="post" enctype="multipart/form-data">
            <div class="control-group">
              <label for="username" class="control-label">用户名：</label>
              <div class="controls">
                <input type="text" id="username" value="{{currentUser.username}}" readonly>
              </div>
            </div>
            <div class="control-group">
              <label for="avatar" class="control-label">头像：</label>
              <div class="controls">
                <label class="avatar-box">
                  <img src="/avatar/{{currentUser.user_id}}.png" width="80">
                  <input type="file" id="avatar" name="avatar">
                </label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">性别：</label>
              <div class="controls">
                <label>
                  <input type="radio" name="user_sex" value="男"{{#equal currentUser.user_sex '男'}} checked{{/equal}}>
                  <span>男</span>
                </label>
                <label>
                  <input type="radio" name="user_sex" value="女"{{#equal currentUser.user_sex '女'}} checked{{/equal}}>
                  <span>女</span>
                </label>
              </div>
            </div>
            <div class="control-group">
              <label for="user_qq" class="control-label">QQ：</label>
              <div class="controls">
                <input type="text" id="user_qq" name="user_qq" value="{{currentUser.user_qq}}">
              </div>
            </div>
            <div class="control-group">
              <label for="user_tel" class="control-label">手机：</label>
              <div class="controls">
                <input type="text" id="user_tel" name="user_tel" value="{{currentUser.user_tel}}">
              </div>
            </div>
            <div class="control-group">
              <label for="user_xueli" class="control-label">学历：</label>
              <div class="controls">
                <select name="user_xueli" id="user_xueli">
                  <option{{#equal currentUser.user_xueli '小学'}} selected{{/equal}}>小学</option>
                  <option{{#equal currentUser.user_xueli '初中'}} selected{{/equal}}>初中</option>
                  <option{{#equal currentUser.user_xueli '高中'}} selected{{/equal}}>高中</option>
                  <option{{#equal currentUser.user_xueli '专科'}} selected{{/equal}}>专科</option>
                  <option{{#equal currentUser.user_xueli '本科'}} selected{{/equal}}>本科</option>
                  <option{{#equal currentUser.user_xueli '硕士'}} selected{{/equal}}>硕士</option>
                  <option{{#equal currentUser.user_xueli '博士'}} selected{{/equal}}>博士</option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label for="user_hobby" class="control-label">兴趣：</label>
              <div class="controls">
                <textarea id="user_hobby" name="user_hobby" cols="80" rows="3">{{currentUser.user_hobby}}</textarea>
              </div>
            </div>
            <div class="control-group">
              <label for="user_introduce" class="control-label">简介：</label>
              <div class="controls">
                <textarea id="user_introduce" name="user_introduce" cols="80" rows="6">{{currentUser.user_introduce}}</textarea>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label"></label>
              <div class="controls">
                <button type="submit" class="sui-btn btn-primary">保存</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{{#block 'scripts'}}
<script type="text/javascript" src="/js/pages/main.js"></script>
<script>
  $(function ($) {
    $('#avatar').on('change', function () {
      var files = $(this).prop('files');
      if (!files.length) return;
      var file = files[0];
      var link = URL.createObjectURL(file)
      $(this).siblings('img').attr('src', link)
    })
  });
</script>
{{/block}}
